---
export interface Props {
  title: string;
  value: string;
  url?: string;
}

import clsx from "clsx";
import { capitalize } from "src/utils/common";

const { title, value, url } = Astro.props;
const capitalizedValue = capitalize(value);
---

<div class={clsx("flex flex-col text-xl sm:text-2xl text-black")}>
  <h5 class="text-base sm:text-xl text-gray-500 font-sans">{title}:</h5>
  {
    url ? (
      <a
        href={url}
        class="font-poppins hover:bg-clip-text hover:text-transparent hover:bg-gradient-to-br hover:to-lime-300 hover:from-cyan-800"
      >
        {capitalizedValue}
      </a>
    ) : (
      <div class="font-poppins">{capitalizedValue || "Unknown"}</div>
    )
  }
</div>
