---
import AllEntriesLayout from "@layouts/all-entries.astro";
import FilterArea from "@components/content/filter/filter-area";
import FilterResult from "@components/content/filter/filter-result";
import { getRickAndMortyEntities } from "src/utils/api";

const episodesData = await getRickAndMortyEntities("episode");
const filters = ["name", "episode"];
---

<AllEntriesLayout>
  <div slot="filter-area">
    <FilterArea filters={filters} client:load />
  </div>
  <div slot="result-area" class="w-full h-full">
    <FilterResult category="episodes" data={episodesData} client:load />
  </div>
</AllEntriesLayout>
