---
import AllEntriesLayout from "@layouts/all-entries.astro";
import FilterArea from "@components/content/filter/filter-area";
import FilterResult from "@components/content/filter/filter-result";
import { getRickAndMortyEntities } from "src/utils/api";

const charactersData = await getRickAndMortyEntities("character");
const filters = ["name", "type", "species", "gender", "status"];
---

<AllEntriesLayout>
  <div slot="filter-area">
    <FilterArea filters={filters} client:load />
  </div>
  <div slot="result-area" class="w-full h-full">
    <FilterResult category="characters" data={charactersData} client:load />
  </div>
</AllEntriesLayout>
