---
export interface Props {
  title: string;
}

import clsx from "clsx";
import { capitalize } from "src/utils/common";

const { title }: { title: string } = Astro.props;
const isActiveNavlink = Astro.url.pathname.includes(title);
let Icon;
---

<li>
  <a
    href={`/${title}`}
    class={clsx(
      "flex items-center px-3 py-2 rounded-md cursor-pointer font-medium gap-2",
      {
        "text-white bg-gradient-to-br from-[#80fd4c] to-[#22a2bd]":
          isActiveNavlink,
        "hover:bg-clip-text hover:text-transparent hover:bg-gradient-to-br hover:from-lime-300 hover:to-cyan-800":
          !isActiveNavlink,
      }
    )}
  >
    <span class="block">{capitalize(title)}</span>
  </a>
</li>
