---
import Nav from "@components/nav/index.astro";
---

<header
  class="flex justify-between items-center px-10 bg-white border-b border-gray-200 overflow-hidden"
>
  <a href="/" class="flex">
    <img
      src="/images/rick-and-morty-banner.webp"
      alt="Rick and morty banner"
      height="80"
      width="auto"
      class="h-20"
    />
  </a>
  <Nav />
</header>
