---
import AllEntriesLayout from "@layouts/all-entries.astro";
import FilterArea from "@components/content/filter/filter-area";
import FilterResult from "@components/content/filter/filter-result";
import { getRickAndMortyEntitiesWithParams } from "src/utils/api";

const locationsData = await getRickAndMortyEntitiesWithParams("location");
const filters = ["name", "type", "dimension"];
---

<AllEntriesLayout title="Rick and Morty">
  <div slot="filter-area">
    <FilterArea filters={filters} client:load />
  </div>
  <div slot="result-area" class="w-full h-full">
    <FilterResult category="locations" data={locationsData} client:load />
  </div>
</AllEntriesLayout>
