---
export interface Props {
  title?: string;
}

import Header from "@components/header/index.astro";

const { title = "Rick and Morty" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body class="flex flex-col m-0 h-screen overflow-hidden">
    <Header />
    <main class="flex-1 bg-gray-100 flex">
      <slot />
    </main>
    <style>
      html {
        font-family: system-ui, sans-serif;
        font-size: 14px;

        @apply text-gray-500 bg-white;
      }
    </style>
  </body>
</html>

<style lang="scss" is:global>
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  input {
    @apply text-black rounded-sm;

    &::placeholder {
      @apply text-gray-400;
    }
  }

  select {
    @apply text-black rounded-sm;

    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='lightgray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 5px;
  }

  .text-with-shadow {
    color: #22a2bd;
    text-shadow: 1px 0px 11px #80fd4c;
    -webkit-text-stroke: 1px black;
  }

  .custom-scrollbar {
    @apply overflow-y-scroll;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: white;
      border-radius: 10px;
      box-shadow: inset 10px 10px 10px 0px #f0f0f0;
    }

    &::-webkit-scrollbar-thumb {
      background: linear-gradient(170deg, #22a2bd 27%, #80fd4c 64%);
      border-radius: 30px;
    }
  }

  // .info-card-list {
  //   @apply grid-cols-4;
  // }
</style>
